/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
body {
	height: 460px;
	margin: 0 auto;
	width: 320px;
	font: 12px verdana;
}

.optbutton {
	border-bottom: 1px solid #114B8C;
}
.notselected {
	opacity:0.4;
}
.selected {
	opacity:1.0;
}
.read {
	font-weight:normal;
}